{% extends "base.html" %}

{% block title %}
Detalhes das Reservas
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Detalhe das Reservas</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">CNPJ</h5>
            <p class="card-text">{{reserva.cnpj}}</p>

            <h5 class="card-title">Nome da empresa</h5>
            <p class="card-text">{{reserva.nome_empresa}}</p>

            <h5 class="card-title">Categoria da empresa</h5>
            <p class="card-text">{{reserva.categoria_empresa}}</p>
           
            <h5 class="card-title">Esta quitado?</h5>
            {% if reserva.quitado %}
            <p class="card-text">Pago</p>
            {% else%}
            <p class="card-text">Pendente</p>
            {% endif %}

            <h5 class="card-title">Stand</h5>
            <p class="card-text">{{reserva.stand}}</p>
         
        </div>
      
       
    </div>
    <a href="/listar" class="btn btn-secondary">Voltar</a>
{% endblock %}