{% extends "base.html" %}


{% block title %}Listas{% endblock %}

{% block content %}



<div class="mt-5">
    <h2>Lista de Reservas</h2>

    <table class="table">
        <thead class="thead-light">
            <tr>
             
                <th scope="col">CNPJ</th>
                <th scope="col">Nome da empresa</th>
                <th scope="col">Categoria da empresa</th>
                <th scope="col">Opções</th>

            </tr>
        </thead>
        <tbody>



            {% for x in reserva %}
            <tr>
               
                <td>{{x.cnpj}} </td>
                <td>{{x.nome_empresa}} </td>
                <td>{{x.categoria_empresa}} </td>

                <td>
                    <a href="{% url 'update' x.pk %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'delete' x.pk %}"><i class="fas fa-trash-alt"></i></a>
                    <a href="{% url 'detalhe' x.pk %}"><i class="fas fa-search"></i></a>
                </td>

                
            


            </tr>
           
                {%empty%}
                <p>Nenhuma reserva cadastrada</p>
            
            {% endfor %}
        </tbody>

      

</div>
<div class="mb-3">
    <a href="{% url 'criar' %}" class="btn btn-primary">Adicionar Novo</a>
</div>
{% if messages %}
<ul  class="messages ">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endblock %}